* {
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

@font-face {
	font-family: 'Noto Serif Vithkuqi';
	src: url(assets/fonts/Noto_Serif_Vithkuqi/NotoSerifVithkuqi-VariableFont_wght.ttf);
}

:root {
	--color: #de0404;
	--dark-color: #333;
	--light-color: #ffffff;
	--gray: #f9f7f7;
}

body {
	font-family: 'Noto Serif Vithkuqi';
}

.main-page {
	max-width: 1440px;
	margin: 0 auto;
}

.header-name {
	display: flex;
	max-width: 1440px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	padding: 32px 8%;
	background-color: var(--light-color);
	border-bottom: 4px solid var(--color);
}

header .navbar ul {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

header .navbar li {
	margin-left: 20px;
	font-weight: bold;
	font-size: 18px;
}

header .navbar ul li a:hover {
	border-bottom: 2px solid var(--color);
}

header #menu-burger {
	display: none;
	position: relative;
	overflow: visible;
	z-index: 2;
	margin: 10px;
	width: 27px;
	height: 27px;
	cursor: pointer;
}

#menu-burger span,
#menu-burger span:before,
#menu-burger span:after {
	display: block;
	position: absolute;
	height: 4px;
	background: var(--color);
	opacity: 1;
	transition: 0.2s ease-in-out;
}

#menu-burger span:before,
#menu-burger span:after {
	content: "";
}

#menu-burger span {
	margin-top: 14px;
	margin-right: -44px;
	width: 32px;
}

#menu-burger span:before {
	margin-left: 0px;
	margin-top: -10px;
	width: 32px;
}

#menu-burger span:after {
	margin-left: 0px;
	margin-top: 10px;
	width: 32px;
}

#menu-burger.close span {
	margin-top: 30px;
	width: 32px;
	transform: rotate(-45deg);
	background-color: var(--light-color);
}

#menu-burger.close span:before {
	margin-top: 0px;
	width: 32px;
	transform: rotate(90deg);
	background-color: var(--light-color);
}

#menu-burger.close span:after {
	margin-top: 0px;
	margin-left: 0;
	width: 0;
	transform: rotate(90deg);
	opacity: 0;
	background-color: var(--light-color);
}

#menu.changes {
	padding-top: 100px;
	opacity: 1;
	visibility: visible;
	background-color: var(--color);
}

#menu {
	position: fixed;
	top: 0;
	left: 50%;
	padding-top: 38px;
	padding-right: 80px;
	min-width: 50%;
	min-height: 100%;
	visibility: hidden;
	opacity: 0;
	text-align: right;
	z-index: 1;
	transition: all 0.2s ease-in-out;
}

#menu li {
	list-style: none;
}

#menu a {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 20px;
	color: var(--light-color);
}

#menu a:hover {
	color: var(--dark-color);
}

a {
	color: var(--dark-color);
}

.logo {
	font-weight: bolder;
	font-size: 22px;
	color: var(--dark-color);
}


/* first block */

.about-me {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 130px;
}

.photo {
	width: 340px;
	height: 360px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px;
}

.text-about-four {
	font-size: 22px;
}

.text-about-four span {
	color: var(--color);
}

.text-about-second,
.text-about-third,
.text-about-five {
	margin-top: -24px;
}

.text-about {
	font-size: 32px;
	font-weight: 800;
	color: var(--color);
}

.text-about-second {
	font-weight: 600;
	font-size: 20px;
}

.text-about-third {
	font-weight: bolder;
	font-size: 44px;
}

.text-about-four {
	margin-top: -44px;
	font-weight: 800;
	font-size: 24px;
}

.animation-first,
.line {
	color: var(--color);
}

.text-about-five {
	font-weight: 600;
	font-size: 20px;
	max-width: 550px;
	opacity: 0.7;
}

/* block second */

.skills h1 {
	display: flex;
	justify-content: center;
	margin-top: 160px;
}

.h1-skills {
	font-size: 36px;
	font-weight: bold;
	color: var(--color);
	text-align: center;
}

.skills-all {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 80px;
}

.name {
	text-align: center;
	font-size: 22px;
	font-weight: 900;
	color: var(--dark-color);
}

.skills-dev {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px;
	border-radius: 8px;
	background-color: var(--gray);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px;
}

.dev-row {
	display: flex;
	margin-right: 50px;
}

.developer {
	font-size: 20px;
	color: var(--dark-color);
}

/* block third */

.max {
	margin-top: 180px;
	max-width: 1440px;
}

.education {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.h1-education {
	font-size: 36px;
	font-weight: bold;
	color: var(--color);
	text-align: center;
}

.description {
	display: flex;
	justify-content: space-between;
}

.education-column {
	display: flex;
	flex-direction: column;
}

.first-education {
	max-width: 540px;
}

.text-education {
	text-wrap: wrap;
}


/* block four */

.portfolio {
	margin-bottom: 120px;
}

.cards {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 45px;
	max-width: 1440px;
}

.card {
	margin: 16px;
	align-items: center;
	border-radius: 8px;
	text-align: center;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px;
}

.btn-more {
	display: flex;
	justify-content: center;
}

#moreContent {
	width: 140px;
	height: 30px;
	font-size: 14px;
	font-weight: 700;
	border: none;
	border-radius: 4px;
	background-color: var(--color);
	color: var(--light-color);
}

.img {
	width: 474px;
	height: 350px;
	transition: transform 0.27s;
}

.card:hover img {
	transform: scale(1.1);
}

.name-prodgect {
	margin-top: 20px;
	margin-bottom: 16px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	color: var(--dark-color);
}


/* footer */

.contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 80px;
	padding: 40px;
	border-top: 4px solid var(--color);
}

.icon {
	width: 32px;
	height: 32px;
	margin: 10px;
}

.logo-rs {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.icon-rs {
	width: 160px;
}

.code {
	display: flex;
	justify-content: center;
    padding-bottom: 20px;
	background-color: var(--gray);
}




@media all and (max-width:768px) {
    header #menu-burger {
        display: block;
    }

    header .navbar {
        position: fixed;
        opacity: 0;
    }

    .skills h1 {
        margin-top: 80px;
    }

    .skills-all {
        justify-content: center;
    }

    .skills-dev {
        padding: 24px;
    }

    .dev-row {
        margin-right: 20px;
    }

    .top {
        margin-top: 20px;
    }

    .max {
        margin-top: 100px;
    }

    .img {
        width: 100%;
        height: 200px;
    }
}

@media all and (max-width:378px) {
    .about-me{
        margin-top: 60px;
    }

    .skills h1 {
        margin-top: 40px;
    }

    .skills-dev {
        padding: 8px;
    }

    .max {
        margin-top: 60px;
    }
}