* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'Noto Serif Vithkuqi';
    src: url(assets/fonts/Noto_Serif_Vithkuqi/NotoSerifVithkuqi-VariableFont_wght.ttf);
}

:root {
    --color: #c9f52e;
    --dark-color: #333;
    --light-color: #ffffff;
}

body {
    font-family: 'Noto Serif Vithkuqi';
}

.main-page {
    max-width: 1440px;
    margin: 0 auto;
}

.header-name {
    display: flex;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 32px 10%;
    background-color: var(--light-color);
    border-bottom: 4px solid var(--color);
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

header .navbar li {
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
}

header .navbar ul li a:hover {
    border-bottom: 2px solid var(--light-color);
}

header #menu-burger {
    display: none;
    position: absolute;
    overflow: visible;
    z-index: 2;
    margin: 10px;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

#menu-burger span,
#menu-burger span:before,
#menu-burger span:after {
    display: block;
    position: absolute;
    height: 4px;
    background: var(--color);
    opacity: 1;
    transition: 0.2s ease-in-out;
}

#menu-burger span:before,
#menu-burger span:after {
    content: '';
}

#menu-burger span {
    margin-top: 14px;
    margin-right: -44px;
    width: 32px;
}

#menu-burger span:before {
    margin-left: 0px;
    margin-top: -10px;
    width: 32px;
}

#menu-burger span:after {
    margin-left: 0px;
    margin-top: 10px;
    width: 32px;
}

#menu-burger.close span {
    margin-top: 30px;
    width: 32px;
    transform: rotate(-45deg);
    background-color: var(--light-color);
}

#menu-burger.close span:before {
    margin-top: 0px;
    width: 32px;
    transform: rotate(90deg);
    background-color: var(--light-color);
}

#menu-burger.close span:after {
    margin-top: 0px;
    margin-left: 0;
    width: 0;
    transform: rotate(90deg);
    opacity: 0;
    background-color: var(--light-color);
}

#menu{
    position: fixed;
    text-align: right;
    margin-top: 0;
    margin-left: 50%;
    padding-top: 38px;
    padding-right: 80px;
    min-width: 50%;
    min-height: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
}

#menu.overlay {
    padding-top: 100px;
    opacity: 1;
    visibility: visible;
    background-color: var(--color);
}

#menu li {
    list-style: none;
}

#menu a {
    display: block;
    margin-bottom: 30px;
    font-size: 20px;
    color: var(--light-color);
}

#menu a:hover {
    color: var(--dark-color);
}

a {
    color: var(--dark-color);
}
.logo {
    font-weight: bolder;
    font-size: 22px;
    color: var(--dark-color);
}

.about-me {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    max-width: 1440px;
}

.photo {
    margin-right: 940px;
    width: 280px;
    height: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px;
}

.text-about-second,
.text-about-third,
.text-about-five {
    margin-left: -780px;
    margin-top: -24px;
}

.text-about {
    margin-left: -780px;
    font-size: 32px;
    font-weight: 800;
    color: var(--color);
}

.text-about-second {
    font-weight: 600;
    font-size: 20px;
}

.text-about-third {
    font-weight: bolder;
    font-size: 44px;
}

.text-about-four {
    margin-left: -780px;
    margin-top: -44px;
    font-weight: 800;
    font-size: 24px;
}

.animation-first,
.line {
    color: var(--color);
}

.text-about-five {
    font-weight: 600;
    font-size: 20px;
    max-width: 550px;
    opacity: 0.7;
}